body {
  background: url(../img/violet/bg.jpg) repeat top center;
}

h1, h3, .newsTitle, .h1,
.category ul .node:hover ul a:hover,
.commentFormBlock .caption,
.orderViewProducts,
.checkoutBox .coItems .summary,
.cartTableAfter,
.compareLines .group,
.profileMenu li:hover a, 
.profileMenu .act a,
footer .footzone .menu li a:hover,
.category ul li:hover a {
    color: #5b5798;
}

.howToPay,
header .menu ul li:hover:before,
.button.color:hover,
.formStyle input[type=submit]:hover,
.button.addToCart:hover,
.fixedCart .checkout.active,
.fixedCart .floatFavorite.active .countFavorite, 
.fixedCart .floatCompare.active .compareItemsCount,
.fixedCart .cart.active .floatCartAmount,
.tabs .tabList li.act a,
footer .copyline,
.ddList ul li:hover,
.userBlock .authorized .dropdown li a:hover,
.userBlock .authorized .dropdown li.item:hover:before,
.category ul ul ul li:hover:before {
    background-color: #7974ce;
}


.fixedCart .checkout.active,
.tabs .tabList,
h1, h3, .newsTitle, .h1, .blockHeader,
.commentFormBlock .caption,
.orderViewProducts,
.checkoutBox .coItems .summary,
.cartTableAfter,
.compareLines .group,
.ddList ul li:hover {
    border-color: #7974ce;
}

.button.color:hover,
.formStyle input[type=submit]:hover,
.button.addToCart:hover,
.fixedCart .checkout.active:hover {
    border-color:#625db5;
}

.fixedCart .cart .openCart {
    background-image:url(../img/violet/floatcart.png);
}

.fixedCart .floatCompare .doCompare {
    background-image:url(../img/violet/floatcmp.png);
}

.hotLinks .links a {
    color: white;
}

.hotLinks .links a:hover {
    color: #F0F0F0;
}

.jslider .jslider-bg i,
.jslider .jslider-pointer { 
    background-image:url(../img/violet/jslider.plastic.png);
}

#favoriteBlock .favoriteLink:before {
    background-image:url(../img/violet/favorite.png)
}