<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Custom</name>
        <description multilanguage="true">Модуль для внесения правок</description>
        <version>1.0</version>
        <author>Sergey Stepanov</author>
    </defaultValues>
</config>